*
{
    font-family: 'Lato', sans-serif;
}

body,
html,
{
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active {text-decoration: none;}


.header-container {
    background-image: url(/img/main_bg.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width:100%;
    color:white;
}


.navbar-brand:hover {
   animation-name: logo-kick;
   animation-duration: 1.3s;
   animation-iteration-count: infinite;
}
@keyframes logo-kick {
    50% {transform: rotate(7deg);}
    100% {transform: rotate(0deg);}
}


.dark-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 0;
    margin: 0;
}
.nav-link:hover {
    color: lightskyblue;
    background-color: #f05f40
}
.en-pl {
    margin-right: 20px;
}

.en-pl span{
    color: lightskyblue;
}


.main-button {
    background-color: #f05f40;
    color: white;
    border: 1px solid #f05f40;
}

.main-button:hover{
    color: #f05f40;
    background-color: transparent;
}

.container-header {
    width: 100%;
    height: 100%;
}


.imgtechnologies {
    max-height: 100px;
    max-width: 100px;
    margin-left: 3px;
    margin-right: 3px;
    
}
.card {
   box-shadow: 2px 2px 15px black;
   margin-bottom: 7px;
   border-radius: 3%;
}

.card:hover{
    top:-2px;
    box-shadow: 4px 2px 25px black;
}
.noborder {
    border: none;
}

.my-acc {
    background-color: #f05f40;
   
    width:100%;
}


.fab {
    color: inherit;
    font-size: 80px;
    margin:auto; 
}
.my-accsa {
    color:white;
}
.my-accsa:hover {
    cursor: pointer;
    color:black;
}

.project {
    height: 240px;
    width:100%;
    position: relative; 
}


.project-image {
    height: 200px;
    width: auto;
    box-shadow: 0 0 15px black;
    background-image: url(/img/mini-proalteri.png);
    background-size: cover;
      }

      .project-image-portfolio {
        height: 200px;
        width: auto;
        box-shadow: 0 0 15px black;
        background-image: url(/img/mini-portfolio.png);
        background-size: cover;
          }
    
    .project-image:hover, .project-image-portfolio:hover{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.project-image-snake {
    height: 200px;
    width: auto;
    box-shadow: 0 0 15px black;
    background-image: url(/img/mini-snake.png);
    background-position-x: center;
    background-size: cover;
      }

      .project-image-paint {
        height: 200px;
        width: auto;
        box-shadow: 0 0 15px black;
        background-image: url(/img/mini-paint.png);
        background-position-x: center;
        background-size: cover;
          }

@keyframes example {
    0% {
        background-position: top;
    }
    100% {
        background-position: bottom;
    }
}
            
.project::after {
    content:"";
    height: inherit;
    width:inherit;
    position: absolute;
    top:0;
    left: -100vw;
    background-color:#f05f40;
    transition: all 1s ease;
    z-index: -1;
}

.project:hover::after {
    top:0;
    left:-30vw;
}

.git-project {
    width: 100;
    height:auto;
    background-color: #222222;
    box-shadow: 0 0 15px black;
    color: #999999;

}
.git-project:hover {
    background-color: #666655;
}

.github-shortcut
{
    font-size: 50px;
    color:#999999;
    padding:3px;
}

.hideme{
    display:none;
}

.footer {
    background-color: #222222;
    margin-top: 80px;
}


.formstyle::-moz-placeholder {
    color:#f05f40;
}
.formstyle:-moz-placeholder {
    color:#f05f40;
}
 .formstyle:-ms-input-placeholder{
    color:#f05f40;
 }
.formstyle::-webkit-input-placeholder  {
    color:#f05f40;
}



/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES */

@media (max-width: 576px) {
}    

@media (min-width: 576px) {
    .hideme {
        display: block;
    }
}

@media (min-width: 768px) {
    #technologies, #projects{
        font-size: 55px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) {
}
